<span>Hier haben Sie die Möglichkeit, mir eine Nachricht zukommen zu lassen:</span>

<form [formGroup]="contactForm" (ngSubmit)="send()">

  <fieldset>
    <div class="form-group">
      <label for="contactName">Ihr Name:</label>
      <input type="text" id="contactName" placeholder="Ihr Name" formControlName="name">
    </div>


    <div class="form-group">
      <label for="email">Ihre E-Mail:</label>
      <input type="email" id="email" placeholder="Ihre E-Mail" formControlName="email">
    </div>

    <div class="form-group">
      <label for="subject">Betreff:</label>
      <input type="text" id="subject" placeholder="Betreff" formControlName="subject">
    </div>

    <div class="form-group">
      <label for="body">Nachricht:</label>
      <textarea id="body" rows="5" placeholder="Nachricht" formControlName="body"></textarea>
    </div>
  </fieldset>

  <button class="btn btn-white" type="submit">Senden</button>
</form>
