<div *ngIf="!submitted && result === null">

  <span>Hier haben Sie die Möglichkeit, mir eine Nachricht zukommen zu lassen:</span>

  <form id="contact-form" #form="ngForm" [formGroup]="contactForm" (ngSubmit)="send(form)" novalidate>
        <div class="form-group">
          <label for="contactName">Ihr Name:</label>
          <input type="text" id="contactName" placeholder="Ihr Name" formControlName="name" class="form-control">
        </div>


        <div class="form-group" [ngClass]="{'has-error': submitted && contactForm.controls['email'].errors}">
          <label for="email">Ihre E-Mail:</label>
          <div class="input-block">
            <input type="email" id="email" placeholder="Ihre E-Mail" formControlName="email" class="form-control">
            <div class="help-block" [hidden]="!submitted || !contactForm.controls['email'].errors">Bitte geben Sie eine gültige E-Mail Adresse an</div>

          </div>
        </div>

        <div class="form-group" [ngClass]="{'has-error': submitted && contactForm.controls['message'].errors}">
          <label for="message">Nachricht:</label>
          <div class="input-block">
            <textarea type="text" id="message" placeholder="Nachricht" formControlName="message" class="form-control"></textarea>
            <div class="help-block" [hidden]="!submitted || !contactForm.controls['message'].errors">Bitte geben Sie eine Nachricht ein (min. 3 Zeichen)</div>
          </div>
        </div>

        <button class="btn btn-white m-t-md m-b-md" type="submit">Senden</button>
  </form>
</div>

<div *ngIf="submitted && result !== null">

  <div *ngIf="result === true">
    <h3 class="color_green">Die Nachricht wurde erfolgreich versendet.</h3>
    <h3>Vielen Dank für Ihre Kontaktaufnahme!</h3>
  </div>

  <div *ngIf="result !== true">
    <h3 class="color_red">Beim Versenden ist leider ein Problem aufgetreten.</h3>
    <h3>Versuchen Sie es bitte später noch einmal. Ich entschuldige mich für die Umstände!</h3>
  </div>

</div>
