$white: #fff;
$grey: #f7f7f7;
$grey2: #aeb9c1;
$grey3: #757575;
$grey4: #444444;
$grey5: #9a9a9a;
$grey6: #d7d7d7;
$black: #0e0e0e;
$black2: #111215;
$black3: #313131;
$black4: #3b434a;
$blue: #5B8EFB;
$blue2: #0b102a;
$purple: #8b41c4;
$purple2: #642f8d;
$purple3: #200838;
$green: #23c77b;
$green2: #157a4b;
$red: #f9223e;
$red2: #d21d34;
$error: #880f1e;
$pink: #ff3366;
$pink2: #bc254b;
$yellow: #f;
$yellow: #ffcc00;

$background: #1f1c13;

$font-size: 14px;
$font-size-smaller: 12px;
