<div class="wrapper">
  <div class="background_page background_purple_blue"></div>

  <div id="navbar-mobile">
    <div class="navbar navbar-right">
      <ul>
        <li><a [routerLink]="['/welcome']">Home</a></li>
        <li><a [routerLink]="['/imprint']">Impressum</a></li>
        <li><a [routerLink]="['/contact']">Kontakt</a></li>
      </ul>
    </div>
  </div>


  <router-outlet></router-outlet>


  <footer>
    <div class="copyright">Copyright © 2017 <a href="https://www.pertiller.net">David Pertiller | www.pertiller.net</a>. <span>Built with Angular</span>
    </div>
  </footer>


</div>
