<div class="wrapper">
   
  <div class="flex-container space-between" style="align-items: flex-start">

    <a class="brand" href="/">
      <img src="./assets/img/logo.jpg" class="img-responsive" alt="Fritz Schwärz">
      <div class="tagline accent">Fritz Schwärz senior</div>

    </a>

    <div class="navbar">
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/imprint']">Impressum</a></li>
        <li><a [routerLink]="['/contact']">Kontakt</a></li>
      </ul>
    </div>
  </div>


  <router-outlet></router-outlet>


</div>
