<div class="wrapper flex-container column">
   
  <div class="flex-container space-between">

    <a class="brand" href="/">
      <img src="./assets/img/logo.jpg" class="img-responsive" alt="Fritz Schwärz">
      <div class="tagline accent">Fritz Schwärz senior</div>

    </a>

    <div class="navbar">
      <ul class="flex-container wrap">
        <li><a [routerLink]="['/']" routerLinkActive="active accent" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a [routerLink]="['/imprint']" routerLinkActive="active accent">Impressum</a></li>
        <li><a [routerLink]="['/contact']" routerLinkActive="active accent">Kontakt</a></li>
      </ul>
    </div>
  </div>

  <router-outlet class="m-t-md"></router-outlet>



</div>
