<h2 class="inline-block">Fritz Schwärz:</h2> Vater, Ehemann, Moderator und Volkskultur-Liebhaber.

<p class="m-t-md">
  Fritz Schwärz ist am 18. Jänner 1947 in Salzburg geboren. Schon von frühester Jugend an zieht es Fritz Schwärz hin zur Volksmusik. Jahrelang steht er als "Hirtebube" beim Salzburger Adventsingen auf der Bühne.</p>

<p>
  Von 1973 bis 2012 ist Fritz Schwärz beim ORF im Landesstudio Salzburg tätig. Er moderiert und gestaltet volkskulturelle Sendungen.
</p>

<button class="btn btn-white m-t-md" [routerLink]="['contact']">Zum Kontaktformular</button>
